@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Draconis";
  src: url("/fonts/Draconis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vecna";
  src: url("/fonts/Vecna.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vecna";
  src: url("/fonts/VecnaBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  thead {
    display: table-row-group;
  }
}

@layer utilities {
  .text-accent-content {
    @apply print:text-gray-700;
  }
  .text-secondary {
    --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2)) drop-shadow(0 1px 1px rgb(0 0 0 / 1));
    @apply print:drop-shadow-none;
  }
}

@layer components {
  .img-grow:hover img {
    @apply motion-safe:scale-125 transition-transform;
  }
}
