@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #fafafa;
  --color-text-primary: #000;
  --color-text-secondary: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #1d1d1d;
    --color-text-primary: #ffffff;
    --color-text-secondary: #efefef;
    color-scheme: dark;
  }
}

@font-face {
	font-family: "Draconis";
	src: url("/fonts/Draconis.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vecna";
	src: url("/fonts/Vecna.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vecna";
	src: url("/fonts/VecnaBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}